.status{
    border: 1px solid black;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.empty {
    color: grey;
}

.col-color {
    width: 3%;
}

.col-position {
    width: 7%;
}

.col-name {
    width: 40%;
}

.col-category {
    width: 20%;
}

.col-priority {
    width: 20%;
}

.col-status {
    width: 10%;
}